<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Samsung Galaxy Tab10 – 24;
		--web-view-id: Samsung_Galaxy_Tab10__24;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Samsung_Galaxy_Tab10__24;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Samsung_Galaxy_Tab10__24 {
		position: absolute;
		width: 800px;
		height: 1280px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Samsung Galaxy Tab10 – 24;
		--web-view-id: Samsung_Galaxy_Tab10__24;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#Rectangle_10 {
		fill: rgba(93,170,104,1);
	}
	.Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 800px;
		height: 1280px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_9_r {
		fill: url(#Rectangle_9_r);
	}
	.Rectangle_9_r {
		display: none;
		position: absolute;
		overflow: visible;
		width: 800px;
		height: 1280px;
		left: 0px;
		top: 360px;
	}
	#Group_4 {
		position: absolute;
		width: 376.816px;
		height: 498.737px;
		left: 279.005px;
		top: 200px;
		overflow: visible;
	}
	#Path_1 {
		fill: rgba(25,20,20,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 153.601px;
		height: 335.101px;
		left: 58.635px;
		top: 163.636px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2 {
		fill: rgba(25,20,20,1);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 43.413px;
		height: 82.597px;
		left: 182.345px;
		top: 226.447px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3 {
		fill: rgba(25,20,20,1);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 43.489px;
		height: 82.466px;
		left: 71.196px;
		top: 334.36px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4 {
		fill: rgba(25,20,20,1);
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 62.739px;
		height: 56.086px;
		left: 232.761px;
		top: 210.479px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: rgba(25,20,20,1);
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 82.624px;
		height: 43.4px;
		left: 244.567px;
		top: 151.406px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_6 {
		fill: rgba(25,20,20,1);
	}
	.Path_6 {
		overflow: visible;
		position: absolute;
		width: 56.994px;
		height: 61.589px;
		left: 228.551px;
		top: 79.392px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_7 {
		fill: rgba(25,20,20,1);
	}
	.Path_7 {
		overflow: visible;
		position: absolute;
		width: 43.315px;
		height: 82.779px;
		left: 167.166px;
		top: 50.797px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_8 {
		fill: rgba(25,20,20,1);
	}
	.Path_8 {
		overflow: visible;
		position: absolute;
		width: 63.032px;
		height: 55.872px;
		left: 95.591px;
		top: 92.131px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_9 {
		fill: rgba(25,20,20,1);
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 82.618px;
		height: 43.401px;
		left: 68.762px;
		top: 165.456px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_10 {
		fill: rgba(25,20,20,1);
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 88.83px;
		height: 80.289px;
		left: 0px;
		top: 367.642px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_11 {
		fill: rgba(25,20,20,1);
	}
	.Path_11 {
		overflow: visible;
		position: absolute;
		width: 352.447px;
		height: 352.482px;
		left: 24.369px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#CEIP {
		left: 166.194px;
		top: 657.11px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: Sofia Pro Soft;
		font-style: normal;
		font-weight: normal;
		font-size: 41px;
		color: rgba(25,20,20,1);
	}
	#Aulas_Virtuales {
		left: 286.194px;
		top: 782.11px;
		position: absolute;
		overflow: visible;
		width: 270px;
		white-space: nowrap;
		text-align: left;
		font-family: Sofia Pro Soft;
		font-style: normal;
		font-weight: normal;
		font-size: 41px;
		color: rgba(25,20,20,1);
	}
	#LOS_Almendros {
		left: 144.179px;
		top: 709.206px;
		position: absolute;
		overflow: visible;
		width: 421px;
		white-space: nowrap;
		text-align: left;
		font-family: Sofia Pro Soft;
		font-style: normal;
		font-weight: normal;
		font-size: 61px;
		color: rgba(25,20,20,1);
	}
	#Ellipse_3 {
		opacity: 0.999;
		fill: transparent;
		stroke: rgba(43,108,0,1);
		stroke-width: 8px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Ellipse_3 {
		display: none;
		position: absolute;
		overflow: visible;
		width: 175px;
		height: 175px;
		left: 366px;
		top: 841px;
	}
	#Mask_Group_1 {
		position: absolute;
		width: 360px;
		height: 54px;
		left: 220px;
		top: 1015px;
		overflow: visible;
	}
	#Group_45 {
		opacity: 0.996;
		position: absolute;
		width: 360px;
		height: 66px;
		left: 220px;
		top: 1003px;
		overflow: visible;
		transition: all 0.3s ease-out;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Samsung_Galaxy_Tab10___25.html;
		cursor: pointer;
	}
	#Rectangle_4 {
		opacity: 0.998;
		fill: rgba(250,241,207,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 360px;
		height: 66px;
		left: 0px;
		top: 0px;
	}
	#Rectangle_4_bb {
		fill: transparent;
		stroke: rgba(25,20,20,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_4_bb {
		position: absolute;
		overflow: visible;
		width: 360px;
		height: 66px;
		left: 0px;
		top: 0px;
	}
	#Elegir_Courso {
		left: 38.5px;
		top: 13px;
		position: absolute;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Sofia Pro Soft;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(25,20,20,1);
	}
	#Polygon_1 {
		fill: rgba(25,20,20,1);
	}
	.Polygon_1 {
		overflow: visible;
		position: absolute;
		width: 18px;
		height: 16px;
		transform: matrix(1,0,0,1,525.1936,1028) rotate(180deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
</style>